{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Question List{% endblock %}

{% block content %}
    <h1>Question List</h1>
    <ul>
        {% for question in object_list %}
            <div class="d-flex">
                <p class="mr-3">{{ question.body }}</p>
                <a href="{% url 'userInteractions:answer-create' question=question.id video=question.video_id %}">Add answer</a><br>
            </div>
        {% endfor %}
    </ul>
{% endblock %}