{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Question List{% endblock %}

{% block content %}

    <div class="container">
        <div class="w-100 d-flex justify-content-between align-items-center my-3">
            <h1>Question List</h1>
            <a class="btn btn-primary"
               href="{% url 'courseHandler:course-upload-video-detail' pk=video_id course_id=course_id %}">Back to the
                video</a>
        </div>
        <div id="alert" class="d-flex flex-column my-3"></div>
        <div>
            {% for question in page_obj %}
                <div class="accordion" id="accordionQuestionList{{ question.id }}">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" id="question{{ question.id }}">
                            <button class="w-100 h-100 border-0 text-left bg-transparent font-weight-light"
                                    type="button" class="card-link"
                                    data-toggle="collapse"
                                    data-target="#questionAnswer{{ question.id }}" aria-expanded="false">
                                {{ question.body }}
                            </button>
                            <div class="d-flex ">
                                <button class="btn btn-danger" data-toggle="modal"
                                        data-target="#deleteModal{{ question.id }}" id="del-modal{{ question.id }}">
                                    Delete
                                </button>
                            </div>
                            <div class="modal fade" id="deleteModal{{ question.id }}" tabindex="-1"
                                 aria-labelledby="deleteModalLabel{{ question.id }}"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ question.id }}">Question
                                                Delete</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            You sure you want to delete your question?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="button" class="del-question btn btn-primary "
                                                    id="del-question{{ question.id }}"
                                                    data-id=
                                                    {{ question.id }}>Confirm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="questionAnswer{{ question.id }}" class="collapse show"
                             data-parent="#accordionQuestionList{{ question.id }}">
                            <form class="d-flex  card-body form-answer w-100" data-question="{{ question.id }}"
                                  data-video="{{ question.video_id }}">
                                {% csrf_token %}
                                <input type="text" class="p-1 mr-2 flex-grow-1" placeholder="Answer..."/>
                                <button class="btn btn-primary btn-answer">Confirm</button>
                            </form>
                        </div>

                    </div>
                </div>
            {% endfor %}
            </divj>
        </div>
        <nav class="blog-pagination justify-content-center d-flex my-3">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">
                                <span class="ti-arrow-left"></span>
                            </span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active">
                            <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                        </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item">
                            <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                        <span aria-hidden="true">
                            <span class="ti-arrow-right"></span>
                        </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script>
        $('.collapse').collapse();

    </script>
{% endblock %}
