[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
helpers = "*"
django-cleanup = "*"
dj-shop-cart = "*"

[dev-packages]

[requires]
python_version = "3.8"
