{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}
    <ul class="my-3">
        {% if videos %}
            {% for video in videos %}
                <a class="h3"
                   href="{% url 'courseHandler:course-upload-video-detail' course_id=pk pk=video.id %}">{{ forloop.counter }}) {{ video.title }}</a>
                <br>
            {% endfor %}
        {% endif %}

    </ul>

    <h1 class="font-weight-light">Upload Video</h1>
    <div class="m-3">
        {% crispy form %}
    </div>
{% endblock %}