{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Upload Video{% endblock %}

{% block content %}
    <div class="container">
        <ul class="my-3">
            {% if videos %}
                {% for video in videos %}
                    <a class="h3"
                       href="{% url 'courseHandler:course-upload-video-detail' course_id=pk pk=video.id %}">{{ forloop.counter }}) {{ video.title }}</a>
                    <br>
                {% endfor %}
            {% endif %}
        </ul>
        <div class="border-bottom border-dark">
            <h1 class="font-weight-light">Upload Video</h1>
        </div>
        <div class="p-2 mt-2">
            {% crispy form %}
        </div>
    </div>
{% endblock %}
