{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div>
    {% for item in cart %}
         <div class="d-flex m-1">
                <img src="{% get_media_prefix %}{{ item.product.image }} " width="400" class="mr-3">
                <div>
                    <h1 >{{ item.product.title }}</h1>
                    <h3 >{{ item.product.author.first_name }}</h3>
                    <p >{{ item.product.category }}</p>
                    <p >
                        <span class="course-price">{{ item.product.price }}</span>$
                    </p>
                    <button data-product="{{ item.product.id }}" data-price="{{ item.product.price }}" data-action="remove" class="btn btn-danger cart-update">Remove</button>
                </div>
            </div>
    {% endfor %}
        <hr>
    {% if totPrice != 0 %}
        <h2 >Total price: <span id="tot-price">{{ totPrice }}</span>$</h2>
        {% include "payments.html" %}

        {% else %}
            <h2 >The cart is empty... </h2>
    {% endif %}
    <a href="{% url 'courseHandler:course-list-store' %}">back to store</a>
    </div>

{% endblock %}