{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h1>Edumy</h1>
    {% for c in courseList %}
            <div class="d-flex">
                <p class="mr-3 text-danger">{{ c.image }} </p>
                <p class="mr-3">{{ c.price }}</p>
            </div>
     {% endfor %}
    {% if messages %}
        <div class="messages mt-3">
            {% for message in messages %}
                <div {% if message.tags %} id="alert" class="alert alert-danger {{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}