{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Course Detail{% endblock %}

{% block content %}

    <h1>{{ object.title }}</h1>
    <p>{{ object.author.first_name }}</p>
    <p>{{ object.category }}</p>
    <img src="{% get_media_prefix %}{{ object.image }} " width="1280" height="720">
    <p>{{ object.description }}</p>
    <p>{{ object.price }}</p>
    <p>{{ object.creation_date }}</p>

    <a class="btn btn-primary" href="{% url 'courseHandler:course-list-store' %}">Store</a><br>

     {% for course in couseList %}
            <div class="d-flex">
                <p class="mr-3 text-danger">{{ course.image }} </p>
                <p class="mr-3">{{ course.price }}</p>
            </div>
     {% endfor %}

    {% if user.usertype.type == 'student' %}
        {% include "userInteractions/review/create.html"%}
    {% endif %}

    {% include "userInteractions/review/list.html"%}


{% endblock %}