{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Course Detail{% endblock %}

{% block content %}

    <div class="container">
        <div class="border-bottom border-dark my-3">
            <h1 class="">Detail Course</h1>
        </div>

        <div class="mb-3">
            <div class="d-flex flex-column flex-md-row mb-3">
                <div class="col col-md-6 d-flex">
                    <img class="img-fluid rounded" src="{% get_media_prefix %}{{ object.image }}"
                         style="width: 500px; height: 250px">
                </div>
                <div class="col col-md-6 d-flex flex-column justify-content-between">
                    <div class="d-flex flex-column flex-grow-1 justify-content-around">
                        <div class="w-full d-flex  align-items-center">
                            <h1 class="">{{ object.title }}</h1>
                            <h5 class="font-weight-normal text-muted">({{ object.category }})</h5>
                        </div>
                        <h4 class="font-weight-normal"> {{ videosCount }} videos!</h4>
                        {% if user.usertype.type == 'teacher' %}
                            <h4 class="font-weight-normal text-muted"> Number of students who have bought the
                                course: {{ student_count }}</h4>
                        {% endif %}
                        <h3 class="font-weight-normal">{{ object.price }} $</h3>
                    </div>
                    {% if prodInCart %}
                        <div class="d-flex justify-content-end align-items-center">
                    {% else %}
                        <div class="d-flex justify-content-between align-items-center">
                    {% endif %}
                    {% if user.usertype.type == 'student' and not prodInCart %}
                        <div>
                            <div>
                                <button data-product="{{ course.id }}" data-action="add"
                                        class="btn-success cart-update font-weight-bold p-2 px-3 border-0">Add to cart
                                </button>
                            </div>
                        </div>
                    {% endif %}

                    <h5 class=" font-weight-normal">{{ object.author.first_name }} {{ object.author.last_name }}
                        | {{ object.creation_date }}</h5>
                    <h5 class=" font-weight-light"></h5>
                    </div>
                    </div>
                </div>
                <div class="">
                    <h5 class="card-text font-weight-normal">{{ object.description }}</h5>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="">
                    <a class="btn btn-light align-self-center" href="{% url 'courseHandler:course-list-store' %}">
                        <div class="d-flex">
                            <ion-icon class="mr-1 mt-0.5" name="storefront-outline"
                                      style="height: 1.3rem; width: 1.3rem;"></ion-icon>
                            Store
                        </div>
                    </a>
                </div>

                <div class="">
                    {% if user.usertype.type == 'teacher' %}
                        <a class="btn btn-primary align-self-center"
                           href="{% url 'courseHandler:course-update' course.pk %}">
                            <div class="d-flex">
                                <ion-icon class="mr-1 mt-0.5" name="cog-outline"
                                          style="height: 1.3rem; width: 1.3rem;"></ion-icon>
                                Update
                            </div>
                        </a>
                        {% if not course.is_active %}
                            <a class="btn btn-danger" href="{% url 'courseHandler:course-delete' course.pk %}">
                                <div class="d-flex">
                                    <ion-icon class="mr-1 mt-0.5" name="trash-outline"
                                              style="height: 1.3rem; width: 1.3rem;"></ion-icon>
                                    Delete
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <div>
                    {% include "userInteractions/review/list.html" %}

                    {% if reviews|length >= 5 %}
                        <div class="w-100 d-flex justify-content-center mt-2">
                            <button id="load-comments" class="btn btn-light text-muted" style="border: 1px solid ">Read
                                more...
                            </button>
                        </div>
                    {% endif %}
                </div>
                {% if user.usertype.type == 'student' and formReview %}
                    <div>
                        {% include "userInteractions/review/create.html" %}
                    </div>
                {% endif %}

            </div>

            {% if couseList and user.userType == 'student' %}
                <div class="my-3">
                <div class="">
                    <h3>Other courses you might be interested</h3>
                </div>
                <div class="d-flex justify-content-start flex-wrap ml-5 mb-3" style="gap: 1.25rem">
                    {% for course in couseList %}
                        <div class="card bg-light shadow d-flex flex-col align-items-stretch"
                             style="width: 20rem; border-radius: 1rem 1rem 1rem 1rem;">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div class="row">
                                    <div class="col-10 d-flex">
                                        <img class="img-fluid rounded" src="{% get_media_prefix %}{{ course.image }}"
                                             style="width:250px; height:150px; object-fit: cover">
                                    </div>
                                    <div class="col">
                                        <a class="text-info" href="{% url 'courseHandler:course-detail' course.pk %}">
                                            <ion-icon name="search-outline"
                                                      style="height: 1.3rem; width: 1.3rem;"></ion-icon>
                                        </a>
                                    </div>
                                </div>
                                <div class="">
                                    <h1 class="text-body">{{ course.title }}</h1>
                                    <p class="font-italic">{{ course.author.first_name }} {{ course.author.last_name }}</p>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ course.category }}</h6>
                                    <p class="card-text">{{ course.price }}$</p>
                                </div>
                                {% if user.is_authenticated %}
                                    <div class="d-flex flex-row justify-content-end">
                                        <button data-product="{{ course.id }}" data-action="add"
                                                class="btn-success cart-update font-weight-bold p-2 px-3 border-0">Add
                                            to cart
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>


{% endblock %}