{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Course Detail{% endblock %}

{% block content %}

    <div class="container">
        <fieldset>
            <legend class="border-bottom">Detail Course</legend>
        </fieldset>
        <div class="flex-col mt-2">
            <div class="col mb-3">
                <img class="img-fluid rounded" src="{% get_media_prefix %}{{ object.image }}"
                     style="width: 500px; height: 250px">
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="">
                            <h6>Title</h6>
                            <div class="rounded border p-2">
                                <p class="card-text">{{ object.title }}</p>
                            </div>
                        </div>
                    </div>
                    {% if user.usertype.type == 'student' %}
                        <div class="col-md-6 mb-3">
                            <div class="">
                                <h6>Author</h6>
                                <div class="rounded border p-2">
                                    <p class="card-text">{{ object.author.first_name }} {{ object.author.last_name }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="">
                            <h6>Category</h6>
                            <div class="rounded border p-2">
                                <p class="card-text">{{ object.category }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="">
                            <h6>Price</h6>
                            <div class="rounded border p-2">
                                <p class="card-text">{{ object.price }}$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="">
                            <h6>Creation Date</h6>
                            <div class="rounded border p-2">
                                <p class="card-text">{{ object.creation_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="">
                        <h6>Description</h6>
                        <div class="rounded border p-2">
                            <p class="card-text">{{ object.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="">
                <a class="btn btn-light align-self-center" href="{% url 'courseHandler:course-list-store' %}">
                        <div class="d-flex">
                            <ion-icon class="mr-1 mt-0.5" name="cart-outline" style="height: 1.3rem; width: 1.3rem;"></ion-icon>
                            Store
                        </div>
                </a>
            </div>

            <div class="">
                {% if user.usertype.type == 'teacher' %}
                    <a class="btn btn-primary align-self-center"
                            href="{% url 'courseHandler:course-update' course.pk %}">
                        <div class="d-flex">
                            <ion-icon class="mr-1 mt-0.5" name="cog-outline"
                                      style="height: 1.3rem; width: 1.3rem;"></ion-icon>
                            Update
                        </div>
                    </a>
                    <a class="btn btn-danger" href="{% url 'courseHandler:course-delete' course.pk %}">
                        <div class="d-flex">
                            <ion-icon class="mr-1 mt-0.5" name="trash-outline"
                                      style="height: 1.3rem; width: 1.3rem;"></ion-icon>
                            Delete
                        </div>
                    </a>
                {% endif %}
            </div>
    </div>

    <div class="d-flex justify-content-between mt-3">
        {% if reviews %}
            <div>
                {% include "userInteractions/review/list.html" %}
                <button id="load-comments">Load more...</button>
            </div>
        {% endif %}
        {% if user.usertype.type == 'student' %}
            <div>
                {% include "userInteractions/review/create.html" %}
            </div>
        {% endif %}

    </div>



    {% for course in couseList %}
        <div class="d-flex">
            <p class="mr-3 text-danger">{{ course.image }} </p>
            <p class="mr-3">{{ course.price }}</p>
        </div>
    {% endfor %}



</div>


{% endblock %}